.boxbot {
  position: relative;
}

.boxbot-box {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.boxbot-bot {
  position: absolute;
  transition: all .5s;
}

.boxbot-bot img {
  width: 100%;
}

.boxbot-map {
  border-collapse: collapse;
}

td.boxbot-box {
  border: 1px solid #eee;
  padding: 10px;
}

.boxbot-box[data-type="y-axis"],
.boxbot-box[data-type="x-axis"] {
  border: 0;
}

.boxbot-box[data-type="y-axis"] {
  text-align: right;
}

.boxbot-box[data-type="x-axis"] {
  text-align: center;
}
